*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}
/* Fonts */
@font-face {
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/barlow-v13-latin-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/barlow-condensed-v13-latin-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/fonts/barlow-condensed-v13-latin-700.woff2) format('woff2');
}
/* Custom Colors */
:root {
        /* Primary */
    --Red-400: hsl(0, 100%, 68%);

        /* Neutral */
    --Blue-950: hsl(230, 29%, 20%);
    --Blue-100: hsl(207, 33%, 95%);
}
/* General Typography */
body {
    min-height: 100svh;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.hero__image {
    width: 100%;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;

    .attribution a {
        color: var(--Red-400);
    }
}