*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Fonts */
@font-face {
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/barlow-v13-latin-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/barlow-condensed-v13-latin-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/fonts/barlow-condensed-v13-latin-700.woff2) format('woff2');
}
/* Custom Colors */
:root {
        /* Primary */
    --Red-400: hsl(0, 100%, 68%);

        /* Neutral */
    --Blue-950: hsl(230, 29%, 20%);
    --Blue-100: hsl(207, 33%, 95%);
}
/* General Typography */
body {
    font-family: 'barlow', sans-serif;
    height: 100svh;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* Mobile navigation */

.main__container {
    min-height: 100svh;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.hero__navigation {
  position: absolute;
  top: 100%;
  right: 1rem;
  left: 1rem;
  padding: 1rem;

  background: var(--Blue-100);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  display: none;
  text-align: center;
  z-index: 10;
}

.nav__primary {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    text-transform: uppercase;
}


.show {
    display: block;
}

.icon__close {
    display: none;
}

.icon__close, .icon__hamburger {
    border: none;
    background: none;
    cursor: pointer;
}



.icon__hamburger--active {
    display: none;
}

.icon__close--active {
    display: block;
}

/* Hero image */
.hero__image {
    width: 100%;
    object-fit: cover;
}

/* Footer Styles */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
}

.attribution a {
    color: var(--Red-400);
}