*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Fonts */
@font-face {
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/barlow-v13-latin-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/barlow-condensed-v13-latin-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/fonts/barlow-condensed-v13-latin-700.woff2) format('woff2');
}
/* Custom Colors */
:root {
        /* Primary */
    --Red-400: hsl(0, 100%, 68%);

        /* Neutral */
    --Blue-950: hsl(230, 29%, 20%);
    --Blue-100: hsl(207, 33%, 95%);
}
/* General Typography */


body {
    font-family: 'barlow', sans-serif;
    height: 100svh;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

hr {
    border: none;
    border-bottom: 1px solid var(--Blue-100);
    filter: contrast(0.8);
}


/* Mobile navigation */

.main__container {
    min-height: 100svh;

    display: flex;
    flex-direction: column;
    
    gap: 4rem;

    position: relative;
    padding: 1.8rem 1.8rem 0 1.8rem;
}

.header__container {
    display: flex;
    justify-content: space-between;

    position: relative;
    margin-top: 1.5rem;
}

.hero__navigation {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  padding: 1.5rem;

  background: white;
  box-shadow: 3px 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  display: none;
  text-align: center;
  z-index: 10;

  width: 100%;
  margin-top: 2.4rem;
}

.nav__primary {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    text-transform: uppercase;
}

.nav__item a {
    font-family: 'barlow condensed', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--Blue-950);
}

.blue100 a {
    filter: contrast(0.5);
    color: var(--Blue-100);
}


.show {
    display: block;
}

.icon__close {
    display: none;
}

.icon__close, .icon__hamburger {
    border: none;
    background: none;
    cursor: pointer;
}



.icon__hamburger--active {
    display: none;
}

.icon__close--active {
    display: block;
}

/* Hero image */

.hero__image--container {
    position: relative;
    right: 1.30rem;
}

.hero__image {
    width: calc(135vw);
    max-width: 135vh;
}

/* Hero content */

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 1.15rem;
}

.hero__text--dashboard {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'barlow condensed', sans-serif;
    font-size: clamp(0.8rem, 0.9rem, 1rem);
    margin-top: 1.5rem;
    color: var(--Blue-100);

    display: flex;
    align-items: center;
}

.filter {
    filter: contrast(0.5);
}

.padding__black {
    color: var(--Blue-100);
    background: var(--Blue-950);
    border-radius: 1rem;
    padding: 0.35rem 0.5rem;
    margin-right: .5rem;

    letter-spacing: 0;
}

.hero__title {
    font-family: 'barlow condensed', sans-serif;
    font-size: clamp(1.5rem, 1.85rem, 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--Blue-950);
}

.hero__text {
    font-weight: 400;
    color: var(--Blue-950);

    font-size: 1.15rem;
    margin-bottom: 0.5rem;
}

.hero__text--preview {
    color: var(--Blue-100);
    text-transform: uppercase;
    font-size: clamp(0.6rem, 0.9rem, 1.2rem);

    display: flex;
    align-items: center;
}


.demo__button {
    background: var(--Red-400);
    padding: .75rem 1rem;
    font-size: clamp(0.7rem, 0.8rem, 1rem);
    border-radius: .35rem;
    border: none;
    color: var(--Blue-100);
    text-transform: uppercase;
    cursor: pointer;

    margin-right: 0.5rem;
}

.demo__button:hover {
    background: var(--Red-400);
    opacity: 0.8;
}

/* Footer */

.attribution {
    padding: 2rem;
    text-align: center;
  }
  
.attribution a {
    color: var(--Red-400)
  }




