*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Fonts */
@font-face {
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/barlow-v13-latin-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/barlow-condensed-v13-latin-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/fonts/barlow-condensed-v13-latin-700.woff2) format('woff2');
}
/* Custom Colors */
:root {
        /* Primary */
    --Red-400: hsl(0, 100%, 68%);

        /* Neutral */
    --Blue-950: hsl(230, 29%, 20%);
    --Blue-100: hsl(207, 33%, 95%);
}
/* General Typography */


body {
    font-family: 'barlow', sans-serif;
    height: 100svh;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

hr {
    border: none;
    border-bottom: 1px solid var(--Blue-100);
    filter: contrast(0.8);
}


/* Mobile navigation */

.main__container {
    min-height: 100svh;

    display: flex;
    flex-direction: column;
    
    gap: 4rem;

    position: relative;
    padding: 1.8rem 1.8rem 0 1.8rem;

    overflow-x: hidden;
}

.header__container {
    display: flex;
    justify-content: space-between;

    position: relative;
    margin-top: 1.5rem;
}

.show__hero--navigation {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  padding: 1.5rem;

  background: white;
  box-shadow: 3px 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  display: none;
  text-align: center;
  z-index: 10;

  width: 100%;
  margin-top: 2.4rem;
}

.nav__primary {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    text-transform: uppercase;
}

.nav__item a {
    font-family: 'barlow condensed', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--Blue-950);
}

.blue100 a {
    filter: contrast(0.5);
    color: var(--Blue-100);
}


.show {
    display: block;
}

.icon__close {
    display: none;
}

.icon__close, .icon__hamburger {
    border: none;
    background: none;
    cursor: pointer;
}



.icon__hamburger--active {
    display: none;
}

.icon__close--active {
    display: block;
}

/* Hero image */

.hero__image--container {
    position: relative;
    right: 6vw;
}

.hero__image--container::before {
    content: "";
    position: absolute;
    top: -80%;
    right: -30%;
    width: 74%;
    height: 205%;
    border-radius: 0 0 0 20%;
    background-color: var(--Blue-100); /* blueish color */
    z-index: -1;
}

.hero__image {
    width: calc(135vw);
}

/* Hero content */

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 1.15rem;
}

.hero__text--dashboard {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'barlow condensed', sans-serif;
    font-size: clamp(0.8rem, 0.9rem, 1rem);
    margin-top: 1.5rem;
    color: var(--Blue-100);

    display: flex;
    align-items: center;
}

.filter {
    filter: contrast(0.5);
}

.padding__black {
    color: var(--Blue-100);
    background: var(--Blue-950);
    border-radius: 1rem;
    padding: 0.35rem 0.5rem;
    margin-right: .5rem;

    letter-spacing: 0;
}

.hero__title {
    font-family: 'barlow condensed', sans-serif;
    font-size: clamp(1.5rem, 1.85rem, 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--Blue-950);
}

.hero__text {
    font-weight: 400;
    color: var(--Blue-950);

    font-size: 1.15rem;
    margin-bottom: 0.5rem;
}

.hero__text--preview {
    color: var(--Blue-100);
    text-transform: uppercase;
    font-size: clamp(0.6rem, 0.9rem, 1.2rem);

    display: flex;
    align-items: center;
}


.demo__button {
    background: var(--Red-400);
    padding: .75rem 1rem;
    font-size: clamp(0.7rem, 0.8rem, 1rem);
    border-radius: .35rem;
    border: none;
    color: var(--Blue-100);
    text-transform: uppercase;
    cursor: pointer;

    margin-right: 0.5rem;
}

.demo__button:hover {
    background: var(--Red-400);
    opacity: 0.8;
}

/* Footer */

.attribution {
    padding: 2rem;
    text-align: center;
}
  
.attribution a {
    color: var(--Red-400)
}


/* Media Queries */

/* Small Mobile Screen */

@media only screen and (min-width: 450px) {
    .main__container {
        padding: 8.5vw;
    }

    .hero__image {
        width: calc(135vw);
    }
}

/* Medium Mobile Screen and Portrait Tablets */



/* Laptops/Desktop */
@media only screen and (min-width: 992px) {

    .main__container {
        padding: 3vw 0 3vw 8.5vw;

        gap: 6rem;
    }

    .hero__container {
        display: flex;
        flex-direction: row;

       
    }

    .hero__image--container {
        display: flex;
        flex-direction: row;
    }

    .header__container {
        display: flex;
        align-items: center;
    }

    .hero__content {
        order: -1;    

        margin-right: 6rem;
    }

    .padding__black {
        margin-right: 1rem;
    }

    .hero__title {
        font-size: 2rem;
    }

    .hero__text {
        margin-bottom: 2.5rem;

        width: 80%;
    }

    .hero__text--preview {
        letter-spacing: 2px;
    }

    .demo__button {
        margin-right: 1rem;
    }

    .hero__navigation {
        display: block;
        position: static;
        background: none;
        box-shadow: none;
        padding: 0;

        width: auto;
        margin-top: 0;
    }

    .nav__primary {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-right: 4rem;
    }

    .icon__hamburger {
        display: none;
    }

    .icon__close {
        display: none;
    }

    .hero__image--container {
        width: 50%;
    }

    .hero__image {
        width: 71vw;
        height: 100%;
    }

    .hero__image--container::before {
        content: "";
        position: absolute;
        top: -80%;
        right: -30%;
        width: 74%;
        height: 205%;
        border-radius: 0 0 0 20%;
        background-color: var(--Blue-100); /* blueish color */
        z-index: -1;
    }

    .attribution {
        padding: 0;
    }

}


/* Desktop Large Screens */
@media only screen and (min-width: 1200px) {
    .main__container {
        gap: 10rem;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .hero__text {
        width: 60%;
    }

    .hero__image--container::before {
        top: -70%;
        right: -30%;
        width: 131%;
        height: 118%;

        border-radius: 0 0 0 10%;
    }

    .hero__image--container {
        width: 50%;
    }

    .hero__image {
        height: 100%;
    }

}

@media only screen and (min-width: 1400px) {

    .main__container {
        padding-left: 10vw;
    }

    .hero__title {
        font-size: 3rem;
    }

    .hero__text {
        width: 50%;
    }

    .hero__image--container {
        position: relative;

        max-width: none;
    }

    .hero__image {
        width: 100vw;
        height: 100%;

        position: relative;
        left: 4.75rem;
    }

    
    .hero__image--container::before {
        top: -70%;
        right: -30%;
        width: 120%;
        height: 118%;

        border-radius: 0 0 0 10%;
    }
}




